 <h2>Add dose for <%= @cocktail.name %></h2>

<div class="container">

 <%= simple_form_for([@cocktail, @dose]) do |f| %>
 <%= f.input :description %>
 <%= f.input :ingredient_id , collection: Ingredient.all %>
 <%= f.submit class: 'btn btn-primary' %>
 <% end %>

 </div>

<div class="container mt-3">
 <%= link_to 'Go Back to Cocktail', cocktail_path(@cocktail), class: 'btn btn-danger' %>
</div>

