
<div class="d-flex container text-white justify-content-center">
  <div class="row">
    <div class="col" style="margin: 32px;">

     <h2>Add dose for <%= @cocktail.name %></h2>
     <%= simple_form_for([@cocktail, @dose]) do |f| %>
     <%= f.input :description %>
     <%= f.input :ingredient_id , collection: Ingredient.all %>
     <%= f.submit class: 'button button-purple' %>
     <% end %>


     <%= link_to cocktail_path(@cocktail) do%>
        <p class="button button-red">Back to the Cocktail</p>
      <% end %>
   </div>




 </div>
</div>


